.hero-section-wrapper {
  padding: 120px 0 70px;
  position: relative;
}
.hero-section-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: #182E62;
  z-index: -1;
}
.hero-section-wrapper .hero-section-top {
  margin-bottom: 90px;
}
.hero-section-wrapper .hero-section-top .heading-wrapper .title {
  font-family: "YoungSerif", sans-serif;
  font-size: 40px;
  line-height: 44px;
  font-weight: 600;
  color: #fff;
  max-width: 505px;
}
.hero-section-wrapper .hero-section-top .heading-wrapper .title span {
  color: #E78C20;
}
.hero-section-wrapper .hero-section-top .hero-section-content p {
  margin-bottom: 40px;
  color: #fff;
}
.hero-section-wrapper .hero-section-bottom .hero-banner-img {
  width: 100%;
  height: 720px;
  border-radius: 16px;
  overflow: hidden;
}
.hero-section-wrapper .hero-section-bottom .hero-banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.team-section-wrapper {
  padding: 80px 0 40px;
  background-color: #EDEDED;
}
.team-section-wrapper .team-section-inner .section-heading {
  margin-bottom: 80px;
}
.team-section-wrapper .team-section-inner .section-heading h2 {
  text-align: center;
}
.team-section-wrapper .team-section-inner .card-container {
  margin-bottom: 40px;
  height: calc(100% - 40px);
}
.team-section-wrapper .team-section-inner .card-container .card {
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #DDDDDD;
  background-color: #F9FAFB;
  height: 100%;
  transition: box-shadow 0.3s ease;
}
.team-section-wrapper .team-section-inner .card-container .card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.team-section-wrapper .team-section-inner .card-container .card .card-icon {
  width: 64px;
  margin-bottom: 20px;
}
.team-section-wrapper .team-section-inner .card-container .card .card-body {
  padding: 0;
}
.team-section-wrapper .team-section-inner .card-container .card .card-body .card-title {
  margin-bottom: 20px;
}

.service-section-wrapper {
  padding: 80px 0;
}
.service-section-wrapper .section-heading {
  text-align: center;
  margin-bottom: 80px;
}
.service-section-wrapper .section-heading .title {
  margin-bottom: 24px;
}
.service-section-wrapper .section-heading p {
  max-width: 768px;
  padding: 0 10px;
  margin: 0 auto;
}
.service-section-wrapper .service-cardV {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 16px;
  height: 100%;
  transition: box-shadow 0.3s ease;
}
.service-section-wrapper .service-cardV:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.service-section-wrapper .service-cardV .service-img {
  border-radius: 16px 16px 0px 0px;
  overflow: hidden;
  width: 100%;
  height: 420px;
}
.service-section-wrapper .service-cardV .service-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.service-section-wrapper .service-cardV .service-content {
  padding: 48px;
}
.service-section-wrapper .service-cardV .service-content .title {
  margin-bottom: 24px;
}
.service-section-wrapper .service-cardV .service-content .details {
  margin-bottom: 32px;
}
.service-section-wrapper .service-cardH {
  display: flex;
  align-items: stretch;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 16px;
  min-height: 368px;
  transition: box-shadow 0.3s ease;
}
.service-section-wrapper .service-cardH:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.service-section-wrapper .service-cardH:not(:last-child) {
  margin-bottom: 24px;
}
.service-section-wrapper .service-cardH .service-img {
  width: 50%;
  border-radius: 16px 0px 0px 16px;
  overflow: hidden;
}
.service-section-wrapper .service-cardH .service-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
.service-section-wrapper .service-cardH .service-content {
  width: 50%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service-section-wrapper .service-cardH .service-content .title {
  margin-bottom: 16px;
}
.service-section-wrapper .service-cardH .service-content .details {
  margin-bottom: 24px;
}

.products-section-wrapper {
  padding: 80px 0;
}
.products-section-wrapper .products-tab #myTab {
  border: 0;
  margin-bottom: 48px;
}
.products-section-wrapper .products-tab #myTab .nav-item:not(:last-child) {
  margin-right: 40px;
}
.products-section-wrapper .products-tab #myTab .nav-item .nav-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 1.5px solid transparent;
}
.products-section-wrapper .products-tab #myTab .nav-item .nav-link:hover {
  border-bottom: 1.5px solid #BABABA;
}
.products-section-wrapper .products-tab #myTab .nav-item .nav-link.active {
  border-bottom: 1.5px solid #BABABA;
}
.products-section-wrapper .products-tab .tab-content .product-details-left {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.products-section-wrapper .products-tab .tab-content .product-details-left .section-heading {
  margin-bottom: 32px;
}
.products-section-wrapper .products-tab .tab-content .product-details-left .section-heading .title {
  margin-bottom: 24px;
}
.products-section-wrapper .products-tab .tab-content .product-details-right {
  height: 100%;
}
.products-section-wrapper .products-tab .tab-content .product-details-right .product-img {
  max-width: 667px;
  height: 680px;
  border-radius: 16px;
  overflow: hidden;
}
.products-section-wrapper .products-tab .tab-content .product-details-right .product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.caseStudy-section-wrapper {
  padding: 40px 0;
}
.caseStudy-section-wrapper .section-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 80px;
}
.caseStudy-section-wrapper .section-heading .top-subheading {
  margin-bottom: 16px;
}
.caseStudy-section-wrapper .section-heading .title {
  margin-bottom: 24px;
}
.caseStudy-section-wrapper .case-study-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.caseStudy-section-wrapper .case-study-list .case-study-item {
  transition: box-shadow 0.3s ease;
  border-radius: 16px;
  overflow: hidden;
}
.caseStudy-section-wrapper .case-study-list .case-study-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.caseStudy-section-wrapper .case-study-list .case-study-item:not(:last-child) {
  margin-bottom: 20px;
}
.caseStudy-section-wrapper .case-study-list .case-study-item .case-study-left {
  height: 100%;
}
.caseStudy-section-wrapper .case-study-list .case-study-item .case-study-left .case-study-item-img {
  width: 100%;
  height: 320px;
  border-radius: 16px;
  overflow: hidden;
}
.caseStudy-section-wrapper .case-study-list .case-study-item .case-study-left .case-study-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
.caseStudy-section-wrapper .case-study-list .case-study-item .case-study-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 54px;
}
.caseStudy-section-wrapper .case-study-list .case-study-item .case-study-right .case-study-title {
  margin-bottom: 8px;
}
.caseStudy-section-wrapper .case-study-list .case-study-item .case-study-right .case-study-info {
  margin-bottom: 16px;
}
.caseStudy-section-wrapper .case-study-list .case-study-item .case-study-right .badges {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}
.caseStudy-section-wrapper .case-study-list .case-study-item .case-study-right .badges .badge {
  padding: 4px 8px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  background: #F4F4F4;
  color: #000000;
}
.caseStudy-section-wrapper .case-study-list .case-study-item .case-study-right .btn-primary {
  display: flex;
  align-items: center;
  width: fit-content;
}
.caseStudy-section-wrapper .case-study-list .case-study-item .case-study-right .btn-primary .icon {
  width: 13px;
  margin-left: 20px;
}

.blog-section-wrapper {
  padding: 80px 0;
  background-color: #F7F7F7;
}
.blog-section-wrapper .section-heading {
  margin-bottom: 40px;
  text-align: center;
}
.blog-section-wrapper .blog-card {
  display: block;
  height: 400px;
  position: relative;
  color: #fff;
  margin-bottom: 20px;
  transition: 0.2s linear;
  border-radius: 16px;
}
.blog-section-wrapper .blog-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.blog-section-wrapper .blog-card .blog-img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.blog-section-wrapper .blog-card .blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
.blog-section-wrapper .blog-card .blog-content {
  border-radius: 16px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 20px;
  display: flex;
  align-items: flex-end;
}
.blog-section-wrapper .blog-card .blog-content .blog-details {
  width: 100%;
  height: fit-content;
}
.blog-section-wrapper .blog-card .blog-content .blog-details .date {
  margin-bottom: 8px;
}
.blog-section-wrapper .blog-card .blog-content .blog-details .title {
  color: #fff;
  margin-bottom: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.blog-section-wrapper .blog-card .blog-content .blog-details .social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 25px;
}
.blog-section-wrapper .blog-card .blog-content .blog-details .social-icons span {
  display: inline-block;
  width: 22px;
}
.blog-section-wrapper .btn-wrapper {
  text-align: center;
  margin-top: 20px;
}
.blog-section-wrapper .btn-wrapper .btn-primary {
  display: inline-block;
  margin: 0 auto;
}

.connect-section-wrapper {
  padding: 120px 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/services-img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.connect-section-wrapper .connect-left {
  color: #fff;
}
.connect-section-wrapper .connect-left .title {
  color: #fff;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 24px;
}
.connect-section-wrapper .connect-right {
  max-width: 520px;
  margin-left: auto;
  height: 100%;
  display: flex;
  align-items: center;
}
.connect-section-wrapper .connect-right form {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.connect-section-wrapper .connect-right form .input-wrapper {
  width: 100%;
}
.connect-section-wrapper .connect-right form .btn-primary {
  padding: 13px 24px;
}

.aboutus-wrapper {
  padding: 80px 0;
}
.aboutus-wrapper .aboutus-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.aboutus-wrapper .aboutus-left .section-heading {
  margin-bottom: 24px;
}
.aboutus-wrapper .aboutus-left .details {
  margin-bottom: 32px;
}
.aboutus-wrapper .aboutus-left .stats-wrapper {
  margin-bottom: 32px;
}
.aboutus-wrapper .aboutus-left .stats-wrapper .count {
  margin-bottom: 8px;
}
.aboutus-wrapper .aboutus-right .img-wrapper {
  max-width: 600px;
  width: 100%;
  height: 640px;
  margin-left: auto;
  border-radius: 16px;
  overflow: hidden;
}
.aboutus-wrapper .aboutus-right .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1366px) {
  .team-section-wrapper .team-section-inner .card-container {
    margin-bottom: 20px;
    height: calc(100% - 20px);
  }
}
@media (max-width: 1200px) {
  .hero-section-wrapper {
    padding: 50px 0;
  }
  .hero-section-wrapper .hero-section-top {
    margin-bottom: 40px;
  }
  .hero-section-wrapper .hero-section-top .heading-wrapper {
    margin-bottom: 15px;
  }
  .hero-section-wrapper .hero-section-top .heading-wrapper .title {
    font-size: 32px;
    line-height: 38px;
  }
  .hero-section-wrapper .hero-section-top .hero-section-content p {
    margin-bottom: 20px;
  }
  .hero-section-wrapper .hero-section-bottom .hero-banner-img {
    height: 520px;
  }
  .team-section-wrapper {
    padding: 50px 0 30px;
  }
  .team-section-wrapper .team-section-inner .section-heading {
    margin-bottom: 40px;
  }
  .service-section-wrapper {
    padding: 50px 0;
  }
  .service-section-wrapper .section-heading {
    margin-bottom: 40px;
  }
  .service-section-wrapper .section-heading .title {
    margin-bottom: 12px;
  }
  .service-section-wrapper .service-cardV .service-content {
    padding: 38px;
  }
  .products-section-wrapper {
    padding: 50px 0;
  }
  .products-section-wrapper .products-tab #myTab {
    margin-bottom: 25px;
  }
  .products-section-wrapper .products-tab .tab-content .product-details-left .section-heading {
    margin-bottom: 24px;
  }
  .products-section-wrapper .products-tab .tab-content .product-details-left .section-heading .title {
    margin-bottom: 12px;
  }
  .products-section-wrapper .products-tab .tab-content .product-details-right .product-img {
    height: 500px;
  }
  .caseStudy-section-wrapper .section-heading {
    margin-bottom: 50px;
  }
  .caseStudy-section-wrapper .section-heading .top-subheading {
    margin-bottom: 12px;
  }
  .caseStudy-section-wrapper .section-heading .title {
    margin-bottom: 12px;
  }
  .caseStudy-section-wrapper .case-study-list .case-study-item .case-study-left .case-study-item-img {
    height: 250px;
  }
  .caseStudy-section-wrapper .case-study-list .case-study-item .case-study-right {
    padding-left: 0;
  }
  .connect-section-wrapper {
    padding: 80px 0;
  }
  .connect-section-wrapper .connect-left .section-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  .connect-section-wrapper .connect-left .section-heading .title {
    margin-bottom: 12px;
  }
  .aboutus-wrapper .aboutus-left .section-heading {
    margin-bottom: 12px;
  }
  .aboutus-wrapper .aboutus-left .details {
    margin-bottom: 12px;
  }
  .aboutus-wrapper .aboutus-left .stats-wrapper {
    margin-bottom: 24px;
  }
}
@media (max-width: 991px) {
  .team-section-wrapper .team-section-inner .section-heading {
    margin-bottom: 30px;
  }
  .team-section-wrapper .team-section-inner .card-container .card .card-icon {
    width: 50px;
    margin-bottom: 10px;
  }
  .team-section-wrapper .team-section-inner .card-container .card .card-body .card-title {
    margin-bottom: 10px;
  }
  .service-section-wrapper .section-heading {
    margin-bottom: 30px;
  }
  .service-section-wrapper .service-cardV {
    height: unset;
    margin-bottom: 24px;
  }
  .service-section-wrapper .service-cardV .service-img {
    height: 270px;
  }
  .service-section-wrapper .service-cardV .service-content {
    padding: 22px;
  }
  .service-section-wrapper .service-cardV .service-content .title {
    margin-bottom: 12px;
  }
  .service-section-wrapper .service-cardV .service-content .details {
    margin-bottom: 12px;
  }
  .service-section-wrapper .service-cardH {
    min-height: 240px;
  }
  .service-section-wrapper .service-cardH:not(:last-child) {
    margin-bottom: 20px;
  }
  .service-section-wrapper .service-cardH .service-img {
    width: 30%;
  }
  .service-section-wrapper .service-cardH .service-content {
    width: 70%;
  }
  .service-section-wrapper .service-cardH .service-content .title {
    margin-bottom: 12px;
  }
  .service-section-wrapper .service-cardH .service-content .details {
    margin-bottom: 12px;
  }
  .products-section-wrapper .products-tab #myTab .nav-item:not(:last-child) {
    margin-right: 20px;
  }
  .products-section-wrapper .products-tab #myTab .nav-item .nav-link {
    font-size: 16px;
    line-height: 20px;
  }
  .products-section-wrapper .products-tab .tab-content .product-details-left {
    padding-bottom: 30px;
  }
  .caseStudy-section-wrapper {
    padding: 30px 0;
  }
  .caseStudy-section-wrapper .section-heading {
    margin-bottom: 30px;
  }
  .caseStudy-section-wrapper .case-study-list .case-study-item .case-study-left {
    margin-bottom: 20px;
    height: auto;
  }
  .caseStudy-section-wrapper .case-study-list .case-study-item .case-study-right {
    padding: 20px;
  }
  .caseStudy-section-wrapper .case-study-list .case-study-item .case-study-right .case-study-info {
    margin-bottom: 12px;
  }
  .caseStudy-section-wrapper .case-study-list .case-study-item .case-study-right .badges {
    margin-bottom: 20px;
  }
  .caseStudy-section-wrapper .case-study-list .case-study-item .case-study-right .badges .badge {
    font-size: 12px;
    line-height: 18px;
  }
  .blog-section-wrapper {
    padding: 50px 0;
  }
  .blog-section-wrapper .section-heading {
    margin-bottom: 30px;
  }
  .blog-section-wrapper .blog-card .blog-content .blog-details .title {
    margin-bottom: 12px;
  }
  .blog-section-wrapper .blog-card .blog-content .blog-details .social-icons {
    gap: 15px;
  }
  .blog-section-wrapper .blog-card .blog-content .blog-details .social-icons span {
    width: 15px;
  }
  .connect-section-wrapper {
    padding: 50px 0;
  }
  .connect-section-wrapper .connect-right {
    margin: auto;
  }
  .connect-section-wrapper .connect-right form .btn-primary {
    padding: 11px 24px;
  }
  .aboutus-wrapper {
    padding: 50px 0;
  }
  .aboutus-wrapper .aboutus-right .img-wrapper {
    max-width: 100%;
    height: 400px;
  }
}
@media (max-width: 767px) {
  .hero-section-wrapper {
    padding: 30px 0;
  }
  .hero-section-wrapper .hero-section-bottom .hero-banner-img {
    height: 350px;
  }
  .service-section-wrapper .service-cardV .service-img {
    height: 200px;
  }
  .service-section-wrapper .service-cardV .service-content {
    padding: 15px;
  }
  .service-section-wrapper .service-cardH {
    min-height: 190px;
  }
  .service-section-wrapper .service-cardH .service-content {
    padding: 15px;
  }
  .caseStudy-section-wrapper .section-heading {
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }
  .caseStudy-section-wrapper .section-heading .top-subheading {
    margin-bottom: 6px;
  }
  .caseStudy-section-wrapper .section-heading .title {
    margin-bottom: 6px;
  }
  .blog-section-wrapper .blog-card {
    height: 270px;
  }
}
@media (max-width: 575px) {
  .hero-section-wrapper {
    padding: 10px 0 30px;
  }
  .hero-section-wrapper .hero-section-top {
    margin-bottom: 25px;
  }
  .hero-section-wrapper .hero-section-top .heading-wrapper .title {
    font-size: 22px;
    line-height: 30px;
  }
  .team-section-wrapper {
    padding: 30px 0;
  }
  .service-section-wrapper {
    padding: 30px 0;
  }
  .service-section-wrapper .service-cardH {
    flex-direction: column;
  }
  .service-section-wrapper .service-cardH .service-img {
    width: 100%;
    height: 200px;
    border-radius: 16px 16px 0px 0px;
  }
  .service-section-wrapper .service-cardH .service-content {
    width: 100%;
  }
  .products-section-wrapper .products-tab #myTab {
    margin-bottom: 16px;
  }
  .products-section-wrapper .products-tab #myTab .nav-item .nav-link {
    font-size: 14px;
    line-height: 20px;
  }
  .products-section-wrapper .products-tab .tab-content .product-details-left .section-heading {
    margin-bottom: 12px;
  }
  .products-section-wrapper .products-tab .tab-content .product-details-right .product-img {
    height: 350px;
  }
  .caseStudy-section-wrapper .case-study-list .case-study-item .case-study-left .case-study-item-img {
    height: 180px;
  }
  .blog-section-wrapper {
    padding: 30px 0 10px;
  }
  .blog-section-wrapper .blog-card {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .connect-section-wrapper {
    padding: 30px 0;
  }
  .connect-section-wrapper .connect-left .section-heading .title {
    font-size: 28px;
    line-height: 34px;
  }
  .connect-section-wrapper .connect-right form {
    flex-direction: column;
  }
  .aboutus-wrapper {
    padding: 30px 0;
  }
  .aboutus-wrapper .aboutus-right .img-wrapper {
    height: 250px;
  }
}/*# sourceMappingURL=index.css.map */