// Hero section css start
.hero-section-wrapper {
    padding: 120px 0 70px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        background-color: #182E62;
        z-index: -1;
    }

    .hero-section-top {
        margin-bottom: 90px;

        .heading-wrapper {
            .title {
                font-family: 'YoungSerif', sans-serif;
                font-size: 40px;
                line-height: 44px;
                font-weight: 600;
                color: #fff;
                max-width: 505px;

                span {
                    color: #E78C20;
                }
            }
        }

        .hero-section-content {
            p {
                margin-bottom: 40px;
                color: #fff;
            }
        }
    }

    .hero-section-bottom {
        .hero-banner-img {
            width: 100%;
            height: 720px;
            border-radius: 16px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

// Hero section css end
// Team section css start 
.team-section-wrapper {
    padding: 80px 0 40px;
    background-color: #EDEDED;

    .team-section-inner {
        .section-heading {
            margin-bottom: 80px;

            h2 {
                text-align: center;
            }
        }

        .card-container {
            margin-bottom: 40px;
            height: calc(100% - 40px);

            .card {
                padding: 20px;
                border-radius: 16px;
                border: 1px solid #DDDDDD;
                background-color: #F9FAFB;
                height: 100%;
                transition: box-shadow 0.3s ease;

                &:hover {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                }

                .card-icon {
                    width: 64px;
                    margin-bottom: 20px;
                }

                .card-body {
                    padding: 0;

                    .card-title {
                        margin-bottom: 20px;
                    }
                }
            }
        }

    }
}

// Team section css end 
// services section css start
.service-section-wrapper {
    padding: 80px 0;

    .section-heading {
        text-align: center;
        margin-bottom: 80px;

        .title {
            margin-bottom: 24px;
        }

        p {
            max-width: 768px;
            padding: 0 10px;
            margin: 0 auto;
        }
    }

    .service-cardV {
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        border-radius: 16px;
        height: 100%;
        transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .service-img {
            border-radius: 16px 16px 0px 0px;
            overflow: hidden;
            width: 100%;
            height: 420px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .service-content {
            padding: 48px;

            .title {
                margin-bottom: 24px;
            }

            .details {
                margin-bottom: 32px;
            }
        }
    }

    .service-cardH {
        display: flex;
        align-items: stretch;
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        border-radius: 16px;
        min-height: 368px;
        transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        &:not(:last-child) {
            margin-bottom: 24px;
        }

        .service-img {
            width: 50%;
            border-radius: 16px 0px 0px 16px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .service-content {
            width: 50%;
            padding: 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .title {
                margin-bottom: 16px;
            }

            .details {
                margin-bottom: 24px;
            }
        }
    }
}

// services section css end

// Products section css start
.products-section-wrapper {
    padding: 80px 0;

    .products-tab {
        #myTab {
            border: 0;
            margin-bottom: 48px;

            .nav-item {
                &:not(:last-child) {
                    margin-right: 40px;
                }

                .nav-link {
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 500;
                    color: #000000;
                    padding: 0;
                    background-color: transparent;
                    border-radius: 0;
                    border-bottom: 1.5px solid transparent;

                    &:hover {
                        border-bottom: 1.5px solid #BABABA;
                    }

                    &.active {
                        border-bottom: 1.5px solid #BABABA;
                    }
                }
            }
        }

        .tab-content {
            .product-details-left {
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;

                .section-heading {
                    .title {
                        margin-bottom: 24px;
                    }

                    margin-bottom: 32px;
                }
            }

            .product-details-right {
                height: 100%;

                .product-img {
                    max-width: 667px;
                    height: 680px;
                    border-radius: 16px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }
}

// Products section css end

// Case-study section css start
.caseStudy-section-wrapper {
    padding: 40px 0;

    .section-heading {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 80px;

        .top-subheading {
            margin-bottom: 16px;
        }

        .title {
            margin-bottom: 24px;
        }
    }

    .case-study-list {
        list-style: none;
        padding: 0;
        margin: 0;

        .case-study-item {
            transition: box-shadow 0.3s ease;
            border-radius: 16px;
            overflow: hidden;

            &:hover {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            .case-study-left {
                height: 100%;

                .case-study-item-img {
                    width: 100%;
                    height: 320px;
                    border-radius: 16px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }

            .case-study-right {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 54px;

                .case-study-title {
                    margin-bottom: 8px;
                }

                .case-study-info {
                    margin-bottom: 16px;
                }

                .badges {
                    display: flex;
                    gap: 8px;
                    margin-bottom: 32px;

                    .badge {
                        padding: 4px 8px;
                        font-size: 14px;
                        line-height: 21px;
                        font-weight: 600;
                        background: #F4F4F4;
                        color: #000000;
                    }
                }

                .btn-primary {
                    display: flex;
                    align-items: center;
                    width: fit-content;

                    .icon {
                        width: 13px;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

// Case-study section css end

// Blogs section css start
.blog-section-wrapper {
    padding: 80px 0;
    background-color: #F7F7F7;

    .section-heading {
        margin-bottom: 40px;
        text-align: center;
    }

    .blog-card {
        display: block;
        height: 400px;
        position: relative;
        color: #fff;
        margin-bottom: 20px;

        .blog-img {
            width: 100%;
            height: 100%;
            border-radius: 16px;
            overflow: hidden;

            img {
                width: inherit;
                height: inherit;
            }
        }

        .blog-content {
            border-radius: 16px;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
            padding: 20px;
            display: flex;
            align-items: flex-end;

            .blog-details {
                width: 100%;
                height: fit-content;

                .date {
                    margin-bottom: 8px;
                }

                .title {
                    color: #fff;
                    margin-bottom: 24px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box !important;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    white-space: normal;
                }

                .social-icons {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    gap: 25px;

                    span {
                        display: inline-block;
                        width: 22px;
                    }
                }
            }
        }
    }

    .btn-wrapper {
        text-align: center;
        margin-top: 20px;

        .btn-primary {
            display: inline-block;
            margin: 0 auto;
        }
    }
}

// Blogs section css end

// Connect section css start
.connect-section-wrapper {
    padding: 120px 0;
    background: url(https://dummyimage.com/400x400/000/000);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .connect-left {
        color: #fff;

        .title {
            color: #fff;
            font-size: 32px;
            line-height: 36px;
            margin-bottom: 24px;
        }
    }

    .connect-right {
        max-width: 520px;
        margin-left: auto;
        height: 100%;
        display: flex;
        align-items: center;

        form {
            display: flex;
            align-items: center;
            gap: 16px;
            width: 100%;

            .input-wrapper {
                width: 100%;
            }

            .btn-primary {
                padding: 13px 24px;
            }
        }
    }
}

// Connect section css end


@media(max-width:1366px) {
    .team-section-wrapper {
        .team-section-inner {
            .card-container {
                margin-bottom: 20px;
                height: calc(100% - 20px);
            }
        }
    }
}

@media(max-width:1200px) {
    .hero-section-wrapper {
        padding: 50px 0;

        .hero-section-top {
            margin-bottom: 40px;

            .heading-wrapper {
                margin-bottom: 15px;

                .title {
                    font-size: 32px;
                    line-height: 38px;
                }
            }

            .hero-section-content {
                p {
                    margin-bottom: 20px;
                }
            }
        }

        .hero-section-bottom {
            .hero-banner-img {
                height: 520px;
            }
        }
    }

    .team-section-wrapper {
        padding: 50px 0 30px;

        .team-section-inner {
            .section-heading {
                margin-bottom: 40px;
            }
        }
    }

    .service-section-wrapper {
        padding: 50px 0;

        .section-heading {
            margin-bottom: 40px;

            .title {
                margin-bottom: 12px;
            }
        }

        .service-cardV {
            .service-content {
                padding: 38px;
            }
        }
    }

    .products-section-wrapper {
        padding: 50px 0;

        .products-tab {
            #myTab {
                margin-bottom: 25px;
            }

            .tab-content {
                .product-details-left {
                    .section-heading {
                        margin-bottom: 24px;

                        .title {
                            margin-bottom: 12px;
                        }
                    }
                }

                .product-details-right {
                    .product-img {
                        height: 500px;
                    }
                }
            }
        }
    }

    .caseStudy-section-wrapper {
        .section-heading {
            margin-bottom: 50px;

            .top-subheading {
                margin-bottom: 12px;
            }

            .title {
                margin-bottom: 12px;
            }
        }

        .case-study-list {
            .case-study-item {
                .case-study-left {
                    .case-study-item-img {
                        height: 250px;
                    }
                }

                .case-study-right {
                    padding-left: 0;
                }
            }
        }
    }

    .connect-section-wrapper {
        padding: 80px 0;

        .connect-left {
            .section-heading {
                text-align: center;
                margin-bottom: 20px;

                .title {
                    margin-bottom: 12px;
                }
            }
        }
    }
}

@media (max-width:991px) {
    .team-section-wrapper {
        .team-section-inner {
            .section-heading {
                margin-bottom: 30px;
            }

            .card-container {
                .card {
                    .card-icon {
                        width: 50px;
                        margin-bottom: 10px;
                    }

                    .card-body {
                        .card-title {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }

    .service-section-wrapper {
        .section-heading {
            margin-bottom: 30px;
        }

        .service-cardV {
            height: unset;
            margin-bottom: 24px;

            .service-img {
                height: 270px;
            }

            .service-content {
                padding: 22px;

                .title {
                    margin-bottom: 12px;
                }

                .details {
                    margin-bottom: 12px;
                }
            }
        }

        .service-cardH {
            min-height: 240px;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            .service-img {
                width: 30%;
            }

            .service-content {
                width: 70%;

                .title {
                    margin-bottom: 12px;
                }

                .details {
                    margin-bottom: 12px;
                }
            }
        }
    }

    .products-section-wrapper {
        .products-tab {
            #myTab {
                .nav-item {
                    &:not(:last-child) {
                        margin-right: 20px;
                    }

                    .nav-link {
                        font-size: 16px;
                        line-height: 20px;

                    }
                }
            }

            .tab-content {
                .product-details-left {
                    padding-bottom: 30px;
                }
            }
        }
    }

    .caseStudy-section-wrapper {
        padding: 30px 0;

        .section-heading {
            margin-bottom: 30px;
        }

        .case-study-list {
            .case-study-item {
                .case-study-left {
                    margin-bottom: 20px;
                    height: auto;
                }

                .case-study-right {
                    padding: 20px;

                    .case-study-info {
                        margin-bottom: 12px;
                    }

                    .badges {
                        margin-bottom: 20px;

                        .badge {
                            font-size: 12px;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
    }

    .blog-section-wrapper {
        padding: 50px 0;

        .section-heading {
            margin-bottom: 30px;
        }

        .blog-card {
            .blog-content {
                .blog-details {
                    .title {
                        margin-bottom: 12px;
                    }

                    .social-icons {
                        gap: 15px;

                        span {
                            width: 15px;
                        }
                    }
                }
            }
        }
    }

    .connect-section-wrapper {
        padding: 50px 0;

        .connect-right {
            margin: auto;

            form {
                .btn-primary {
                    padding: 11px 24px;
                }
            }
        }
    }
}

@media (max-width:767px) {
    .hero-section-wrapper {
        padding: 30px 0;

        .hero-section-bottom {
            .hero-banner-img {
                height: 350px;
            }
        }
    }

    .service-section-wrapper {
        .service-cardV {
            .service-img {
                height: 200px;
            }

            .service-content {
                padding: 15px;
            }
        }

        .service-cardH {
            min-height: 190px;

            .service-content {
                padding: 15px;
            }
        }
    }

    .caseStudy-section-wrapper {
        .section-heading {
            flex-direction: column;
            align-items: flex-start;
            gap: 6px;

            .top-subheading {
                margin-bottom: 6px;
            }

            .title {
                margin-bottom: 6px;
            }
        }
    }

    .blog-section-wrapper {
        .blog-card {
            height: 270px;
        }
    }
}

@media (max-width:575px) {
    .hero-section-wrapper {
        padding: 10px 0 30px;

        .hero-section-top {
            margin-bottom: 25px;

            .heading-wrapper {
                .title {
                    font-size: 22px;
                    line-height: 30px;
                }
            }
        }
    }

    .team-section-wrapper {
        padding: 30px 0;
    }

    .service-section-wrapper {
        padding: 30px 0;

        .service-cardH {
            flex-direction: column;

            .service-img {
                width: 100%;
                height: 200px;
                border-radius: 16px 16px 0px 0px;
            }

            .service-content {
                width: 100%;
            }
        }
    }

    .products-section-wrapper {
        .products-tab {
            #myTab {
                margin-bottom: 16px;

                .nav-item {
                    .nav-link {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }

            .tab-content {
                .product-details-left {
                    .section-heading {
                        margin-bottom: 12px;
                    }
                }

                .product-details-right {
                    .product-img {
                        height: 350px;
                    }
                }
            }
        }
    }

    .caseStudy-section-wrapper {
        .case-study-list {
            .case-study-item {
                .case-study-left {
                    .case-study-item-img {
                        height: 180px;
                    }
                }
            }
        }
    }

    .blog-section-wrapper {
        padding: 30px 0 10px;

        .blog-card {
            max-width: 400px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }

    .connect-section-wrapper {
        padding: 30px 0;

        .connect-right {
            form {
                flex-direction: column;
            }
        }
    }
}